services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20

  auth:
    build: ./auth
    image: gnaht41/eproject-auth:latest
    env_file:
      - ./auth/.env
    depends_on:
      - mongo
    ports:
      - "3000:3000"

  product:
    build: ./product
    image: gnaht41/eproject-product:latest
    env_file:
      - ./product/.env
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongo:
        condition: service_started
    ports:
      - "3001:3001"

  order:
    build: ./order
    image: gnaht41/eproject-order:latest
    env_file:
      - ./order/.env
    depends_on:
      rabbitmq:
        condition: service_healthy
      mongo:
        condition: service_started
    ports:
      - "3002:3002"

  gateway:
    build: ./api-gateway
    image: gnaht41/eproject-gateway:latest
    depends_on:
      - auth
      - product
      - order
    ports:
      - "3003:3003"

volumes:
  mongo_data:
  rabbitmq_data:
